---
import { getCollection } from 'astro:content'
import ItemDetail from '@/components/ItemDetail.astro'

export async function getStaticPaths() {
  const items = await getCollection('items')

  return Object.values(items).map((item) => ({
    params: { id: item.id },
    props: { item },
  }))
}

const { item } = Astro.props
---

<div>
  <ItemDetail item={item} />
</div>
