---
import Layout from '../layouts/Layout.astro'
import Items from '@/components/Items.astro'
import { fade } from 'astro:transitions'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl
    font-bold
    mb-8
    text-center">
      Moving Sale - Household Items
    </h1>

    <Items />
  </main>
</Layout>
