---
import Layout from '../layouts/Layout.astro'
import Items from '@/components/Items.astro'
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl
    font-bold
    mb-8
    text-center">
      Moving Sale - Household Items
    </h1>

    <Items />
  </main>
</Layout>
